h1{
    margin:auto;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

a{
    color: black;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


nav{
    height: 50px;
    width: 100%;
    background-color:  rgb(79, 197, 49);
    color: black;
    justify-content: space-evenly;
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-bottom: 5%;

}


h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:50%
}

#email, #password{
    height: 20px;
    width: 200px;
    border-radius: 5px;
    background-color: rgba(81, 77, 77, 0.151);
}

#button{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color:rgb(26, 91, 177);
    color: white;
}

#button:hover{
    background-color: rgb(79, 197, 49);
    color: black;
} 