#container{
    display: grid;
    width:  95%;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: auto;

  }

  #container > div{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;   
     width: 95%;
    display:block;
    padding-bottom: 10px;
    margin: auto;

  }

  div>img{
    height: 180px;
    width: 100%;
    /* text-align: center; */
    }

  div > span{
    display:flex;
    justify-content: center;
    font-size: 16px;
  }

  div> h2{
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-bottom: -2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }

  div > h3{

    font-size: 14px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: -2px;

     

  }